<table class="table">
  <% @ranking_books.each.with_index(1) do |book, i| %>
    <tr>
      <th><span class="ranking-<%= i %>"><%= i %>位</span> Title</th>
      <td><%= book.title %></td>
    </tr>
    <tr>
      <th>Opinion</th>
      <td><%= book.body %></td>
    </tr>
  <% end %>
</table>
