<h2>Books search</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th>Date</th>
      <th></th>
      <th>
        <%= form_tag(sort_path, :method => 'get', id: "submit_form") do %>
          <%= select_tag(:option, options_for_select([["ーーーーー", "0"],["新着順", "1"],["人気順", "2"],["コメント順", "3"]]), id: "submit_select", name: "submit_select") %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr class="book_<%= book.id %>">
        <%= render 'favorites/favorites', book: book %>
      </tr>
    <% end %>
  </tbody>
</table>
