<td>following: <%= user.following.count %></td>
<td>followers: <%= user.followers.count %></td>
<td>
  <% unless user == current_user %>
    <% if current_user.following?(user) %>
      <%= render 'follows/unfollow', user: user %>
    <% else %>
      <%= render 'follows/follow', user: user %>
    <% end %>
  <% end %>
</td>
