<!DOCTYPE html>
<html lang="ja">

<head>
  <meta content="text/html; charset=UTF8" http-equiv="Content-Type">
</head>

<body>
  <h2><%= @user.name %></h2>
  <p>Hello, It's good weather today!!</p>
</body>

</html>